*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(240, 240, 156);
}

.App {
  text-align: center;
}

.deal-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;

}
.deal {
  flex: 33.33%;
  border: black 1px solid;
  text-align: center;
  background-color: rgb(160, 240, 184);
  width: 20%;
  margin: 3px;
  /* flex-wrap: wrap; */
}

img {
  width: 130px;
}

.header {
  text-align: center;
  border-bottom: 1px solid #000;
}
.text-center {
  text-align: center;
}
