*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(240, 240, 156);
}

.App {
  text-align: center;
}

.deal-section {
  border-bottom: black 1px solid;
  text-align: center;
}

img {
  width: 130px;
}

.header {
  text-align: center;
  border-bottom: 1px solid #000;
}
