$bg-color: #351C2B; // Dark purple
$blue: #065A82; // Blue sapphire
$green: #667761; // Army green
$yellow: #FFF8C2; // Lemon
$lavender: #E0D6FF; // Lavender
$light-color: #fff;
$border-color: #ddd;
$ff-primary: "Poppins", sans-serif;


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: rgb(240, 240, 156);
}

.App {
  text-align: center;
}

/* Container wrapping all deals */
.deal-container {
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
  justify-content: center;
}
/* Individual deals box */
.deal {
  flex: 33.33% 1;
  border: black 1px solid;
  text-align: center;
  background-color: rgb(160, 240, 184);
  max-width: fit-content;
  padding: 30px 30px 15px 30px;
  margin: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

img {
  width: 100%;
  max-width: 350px;
  border: 1px solid #e8e8e8;
}

.header {
  text-align: center;
  border-bottom: 1px solid #000;
}
.text-center {
  text-align: center;
}

/* For Rectangle Dotted box */
.deals-coupon {
  border: 2px dashed #000;
  padding: 3px 3px 5px 12px;
  border-radius: 5px;
  width: 65%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 15px;
}

.deals-coupon:hover {
  border: 2px solid #dd7127;
  text-decoration: none;
}
